@page
@using Microsoft.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Messendger.Pages.ChatMenuModel
@{

    ViewBag.Title = "Чаты";
}
<link href="styles/ChatStyle.css" rel="stylesheet" asp-append-version="true" />
<main class="container">
    <div class="row">
        <div class="col-1 bg-danger min-vh-100">
            <div class="row pt-5 justify-items-center">
                <img src="~/res/image/User.png" class="mx-auto text-wrap text-break" style="width: 70%;">
            </div>
            <div class="row">
                <p class="text-center" data-idUser="@Model.info.Id" id="userName">@Model.info.Surname @Model.info.Name @Model.info.Lastname</p>
            </div>
            <div class="row">
                <button style="width: 100px;" class="btn me-5 ms-1 btn-dark">Выйти</button>
            </div>
        </div>
        <div class="col-3 bg-secondary">
            <div class="list-group mt-3 listChat" id="listChat">
            @{
                //Вывод чатов
                foreach (var chat in Model.Chats)
                {
                    string name = string.Join(' ', chat.Participants);
                    if (chat.NameChat != null)
                        name = chat.NameChat;

                        <button type="button" data-id-chat="@chat.Id" class="list-group-item list-group-item-action d-flex align-items-center mb-2" onclick="changeChat(this)">
                            <img src="~/res/image/User.png" class="me-3" width="75px">@name<span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                        </button>
                }
            }
            </div>
        </div>
        <div class="col-8 bg-light d-flex flex-column text-dark">
            <div class="flex-grow-1 m-3 border border-5 border-black p-3 messcont">

            </div>
            <div class="p-3">
                <form class="mb-3 d-flex" method="dialog" onsubmit="sendMess(event)" autocomplete="off">
                    <input type="text" id="messTxt" class="form-control me-2 border border-2 border-black" disabled>
                    <button class="btn bg-black text-light" type="submit" disabled>Отправить</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script asp-append-version="true" src="~/scripts/ChatScript.js"></script>