@page "{idCurChat?}"
@using Microsoft.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Messendger.Pages.ChatMenuModel
@{
    ViewBag.Title = "Чаты";
}
<link href="~/styles/ChatStyle.css" rel="stylesheet" asp-append-version="true" />
<main class="container-lg" style=" flex: 1 0 auto;">
    <div class="row" style="height: 100%;">
        <div class="col-1 bg-danger">
            <div class="row pt-5 justify-items-center">
                @if (Model.info.IdNavigation.IdPhotoNavigation == null)
                {
                    <img src="~/res/image/User.png" asp-append-version="true" class="mx-auto" style="width: 100%;">
                }
                else
                {
                    <img src="/userImages/@Model.info.IdNavigation.IdPhotoNavigation.Name" asp-append-version="true" class="mx-auto" style="width: 100%;">
                }
            </div>
            <div class="row">
                <button data-bs-toggle="modal" data-bs-target="#editModal" class="text-center btn text-light text-wrap text-break" id="userName">
                    @Model.info.Surname @Model.info.Name @Model.info.Lastname
                    </button>
            </div>
            <div class="row mt-2">
                <button style="width: 100px;" onclick="exitClick()" class="btn me-5 ms-1 btn-dark">Выйти</button>
            </div>
            <div class="row">
                <button type="button" class="btn mt-2 text-light" onclick="loadfriend()" data-bs-toggle="modal" data-bs-target="#newChatModal">
                    <img src="~/res/image/message.svg" style="width: 70%;" class="mx-auto text-wrap text-break">
                    Новый чат
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn mt-2 text-light" data-bs-toggle="modal" data-bs-target="#modalSearch">
                    <img src="~/res/image/search.svg" style="width: 70%;" class="mx-auto text-wrap text-break">
                    Поиск
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn mt-2 text-light" data-bs-toggle="modal" data-bs-target="#friendsModal">
                    <img src="~/res/image/friends.svg" style="width: 70%;" class="mx-auto text-wrap text-break">
                    Друзья
                </button>
            </div>
        </div>
        <div class="col-3 bg-secondary">
            <div class="list-group mt-3 listChat" id="listChat">
            @{
                //Вывод чатов
                foreach (var chat in Model.Chats)
                {
                    string name = string.Join(' ', chat.Participants);
                    if (chat.NameChat != null)
                        name = chat.NameChat;
                        @if (!chat.isGroup)
                        {
                            if (chat.Id == Convert.ToInt32(Model.IdCurChat))
                            {
                                <button type="button" data-id-chat="@chat.Id" data-group="@chat.isGroup" class="list-group-item list-group-item-action d-flex align-items-center mb-2 active text-wrap text-break" onclick="changeChat(this)">
                                <img src="@chat.PhotoPath" class="me-3" width="75px">
                                @name
                                <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id-chat="@chat.Id" data-group="@chat.isGroup" class="list-group-item list-group-item-action d-flex align-items-center mb-2 text-wrap text-break" onclick="changeChat(this)">
                                    <img src="@chat.PhotoPath" class="me-3" width="75px">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                        }
                        else
                        {
                            if (chat.Id == Convert.ToInt32(Model.IdCurChat))
                            {
                                <button type="button" data-id-chat="@chat.Id" data-group="@chat.isGroup" class="list-group-item list-group-item-action mb-2 text-center active" onclick="changeChat(this)">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id-chat="@chat.Id" data-group="@chat.isGroup" class="list-group-item list-group-item-action mb-2 text-center" onclick="changeChat(this)">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="col-8 bg-light d-flex flex-column text-dark">
            @if (Model.IdCurChat == 0)
            {
                <div class="row me-3  ms-2 mt-2  p-1">
                    <h3 id="nameChat" class="col-auto text-center d-none"></h3>
                    <button class="col-1 btn btn-secondary me-1 d-none" id="btnEditChat" onclick="loadChatPart()" type="button" data-bs-toggle="modal" data-bs-target="#editChatModal">
                    <img width="25px" src="~/res/image/edit.svg">
                </button>
                    <button class="col-1 btn btn-danger d-none" id="btnDelChat" data-bs-toggle="modal" data-bs-target="#delModal" type="button">
                    <img width="25px" src="~/res/image/trash.svg">
                </button>
                </div>
            }
            else
            {
                if (Model.curChat != null)
                {
                if (Model.curChat.IsGroup)
                {
                    string name = string.Join(' ', Model.curChat.ChatParticipants.Where(p => p.IdUser != Model.info.Id).Select(p => p.IdUserNavigation.UserInfo.Surname + " " + p.IdUserNavigation.UserInfo.Name));
                    if (Model.curChat.Name != null)
                        name = Model.curChat.Name;
                    <div class="row me-3  ms-2 mt-2  p-1">
                        <h3 id="nameChat" class="col-auto text-center text-truncate">@name</h3>
                            <button class="col-1 btn btn-secondary me-1" id="btnEditChat" onclick="loadChatPart()" type="button" data-bs-toggle="modal" data-bs-target="#editChatModal">
                        <img width="25px" src="~/res/image/edit.svg">
                    </button>
                        <button class="col-1 btn btn-danger " id="btnDelChat" data-bs-toggle="modal" data-bs-target="#delModal" type="button">
                        <img width="25px" src="~/res/image/trash.svg">
                    </button>
                    </div>
                }
                else
                {
                    string name = string.Join(' ', Model.curChat.ChatParticipants.Where(p => p.IdUser != Model.info.Id).Select(p => p.IdUserNavigation.UserInfo.Surname + " " + p.IdUserNavigation.UserInfo.Name));
                    if (Model.curChat.Name != null)
                        name = Model.curChat.Name;
                    <div class="row me-3  ms-2 mt-2  p-1">
                        <h3 id="nameChat" class="col-auto text-center text-truncate">@name</h3>
                            <button class="col-1 btn btn-secondary me-1 d-none" id="btnEditChat" onclick="loadChatPart()" type="button" data-bs-toggle="modal" data-bs-target="#editChatModal">
                            <img width="25px" src="~/res/image/edit.svg">
                        </button>
                        <button class="col-1 btn btn-danger d-none" id="btnDelChat" data-bs-toggle="modal" data-bs-target="#delModal" type="button">
                            <img width="25px" src="~/res/image/trash.svg">
                        </button>
                        </div>
                    }
                }
                else
                {
                    <div class="row me-3  ms-2 mt-2  p-1">
                        <h3 id="nameChat" class="col-auto text-center text-truncate d-none"></h3>
                        <button class="col-1 btn btn-secondary me-1 d-none" id="btnEditChat" onclick="loadChatPart()" type="button" data-bs-toggle="modal" data-bs-target="#editChatModal">
                            <img width="25px" src="~/res/image/edit.svg">
                        </button>
                        <button class="col-1 btn btn-danger d-none" id="btnDelChat" data-bs-toggle="modal" data-bs-target="#delModal" type="button">
                            <img width="25px" src="~/res/image/trash.svg">
                        </button>
                    </div>
                }
            }
            <div class="flex-grow-1 mx-3 border border-5 border-black p-3 messcont" style="border-color: black;">
                @{
                    foreach (var message in Model.Messages)
                    {
                        if (message.isYou)
                        {
                            <div class="mess self">
                                <div class="userMes">@message.Sender</div>
                                <div class="textMes">@Html.Raw(message.Text)</div>
                                <div class="timeMes">@message.TimeSend.Hour:@message.TimeSend.Minute @message.TimeSend.Date.ToShortDateString()</div>
                            </div>
                        }
                        else
                        {
                            <div class="mess">
                                <div class="userMes">@message.Sender</div>
                                <div class="textMes">@Html.Raw(message.Text)</div>
                                <div class="timeMes">@message.TimeSend.Hour:@message.TimeSend.Minute @message.TimeSend.Date.ToShortDateString()</div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="p-3">
                <form class="mb-3 d-flex" method="dialog" id="formSend" onsubmit="sendMess(event)" enctype="multipart/form-data" autocomplete="off">
                        @if (Model.IdCurChat == 0)
                        {
                        <input type="text" id="messTxt" class="form-control  me-2 border border-2 border-black" name="textMessage" disabled>
                            <button class="btn bg-black text-light"  type="submit" id="sendBtn" disabled>Отправить</button>
                        <label class="file-button btn border-black mx-2" id="filebtn">
                            <img src="~/res/image/screpka.svg" alt="Скрепка">
                            <input type="file" name="sendFile" id="fileSend" onchange="filesend(this)" disabled />
                        </label>
                        <button type="button" onclick="cancelbtn(this)" id="canbtn" class="d-none btn ms-1 bg-black text-light">✖</button>
                        }
                        else
                        {
                        <input type="text" id="messTxt" class="form-control me-2 border border-2 border-black" name="textMessage">
                            <button class="btn bg-black text-light" type="submit" id="sendBtn" >Отправить</button>
                        <label class="file-button  btn border-black mx-2" id="filebtn">
                            <img src="~/res/image/screpka.svg" alt="Скрепка">
                            <input type="file" name="sendFile" id="fileSend" onchange="filesend(this)" />
                        </label>
                        <button type="button" onclick="cancelbtn(this)" id="canbtn" class="btn d-none ms-1 bg-black text-light">✖</button>
                        }
                </form>
            </div>
        </div>
    </div>
</main>
<script asp-append-version="true" src="~/scripts/signalr.min.js"></script>
<script asp-append-version="true" src="~/scripts/ChatScript.js"></script>


@*Модальное окно поиска людей *@
<div class="modal fade" id="modalSearch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Поиск сотрудников</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form class="text-dark">
                    <label for="searchTxt" class="form-label">Введите имя</label>
                    <input type="text" onkeyup="searchPeople(this)" class="form-control mb-1" id="searchTxt"/>
                    <ul class="list-group" id="searchList" style="overflow-y: auto;max-height: 40vh;">

                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@*Модальное окно изменения данных *@
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Ваш профиль</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" enctype="multipart/form-data" method="post" action="/editprofile">
            <div class="modal-body">
                    <div class="row">
                    <label class="form-label col-auto text-center">Фото профиля</label>
                        @if (Model.info.IdNavigation.IdPhotoNavigation != null)
                        {
                            <img id="previewImg" style="width:100px;" class="mb-1" src="/userImages/@Model.info.IdNavigation.IdPhotoNavigation.Name" />
                        }
                        else
                        {
                            <img id="previewImg" style="width:100px;" class="mb-1" src="/res/image/User.png" />
                        }
                        <input onchange="changeimg(this)" class="form-control ms-1 me-1" type="file" id="formFile" name="formFile" accept="image/*">
                    </div>
                    <label for="surnameTxt" class="form-label">Фамилия</label>
                    <input type="text" class="form-control mb-1" name="surname" value="@Model.info.Surname" id="surnameTxt" />
                    <label for="nameTxt" class="form-label">Имя</label>
                    <input type="text" class="form-control mb-1" name="name" id="nameTxt" value="@Model.info.Name" />
                    <label for="lastnameTxt" class="form-label">Отчество</label>
                    <input type="text" class="form-control mb-1" name="lastname" id="lastnameTxt" value="@Model.info.Lastname" />
  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Изменить</button>
            </div>
            </form>
        </div>
    </div>
</div>
@*Модальное окно друзей *@
<div class="modal fade" id="friendsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Друзья</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
                <div class="modal-body">
                <div class="btn-group mb-2" style="display: flex; justify-content: center; align-items: center;" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnFriend" onclick="changeList(this)" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnFriend">Ваши друзья</label>

                    <input type="radio" class="btn-check" name="btnradio" onclick="changeList(this)" id="btnVxodReq" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnVxodReq">Входящие заявки</label>

                    <input type="radio" class="btn-check " name="btnradio" onclick="changeList(this)" id="btnIsxReq" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnIsxReq">Исходящие заявки</label>
                </div>
                <ul class="list-group" id="friendList" style="overflow-y: auto;max-height: 40vh;">
                    @foreach (var friend in Model.Friends)
                    {
                        <li class="list-group-item mb-1  border border-warning">
                            <div class="d-flex align-items-center">
                                <img class="me-3" width="75px" src="@friend.PathPhoto">
                                <div class="me-3 d-flex flex-column">
                                    <span class="row">@friend.Surname @friend.Name @friend.Lastname</span>
                                    <span class="row">@friend.JobName</span>
                                </div>
                                <button class="btn border border-danger ms-auto me-2" type="button" onclick="chatbtn(this)" data-user="@friend.Id" data-chat="@friend.IdChat"><img style="width: 20px;" alt="Смс" src="/res/image/mess.svg" /></button>
                                <button class="btn border border-danger me-1" type="button" onclick="delbtnfr(this)" data-user="@friend.Id"><img style="width: 20px;" alt="Удалить" src="/res/image/trash.svg" /></button>
                            </div>
                        </li>
                    }
                </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
        </div>
    </div>
</div>
@*Модульное окно создание групового чата*@
<div class="modal fade" id="newChatModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Создание группового чата</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" method="dialog">
            <div class="modal-body">

                    <label class="form-label" for="nameChat">Название чата</label>
                    <input class="form-control" id="groupChatName" placeholder="Название"/>
                    <label class="form-label">Выберите участников</label>
                    <ul class="list-group" id="partList" style="overflow-y: auto;max-height: 40vh;">

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" onclick="createGroupChat()" data-bs-dismiss="modal">Создать</button>
            </div>
            </form>
        </div>
    </div>
</div>
@*Модульное окно удаления чата*@
<div class="modal fade" id="delModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Удалить чат</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" method="dialog">
                <div class="modal-body">
                    <p>Вы уверены что хотите удалить данный чат?</p>
                    <p>Данный чат будет удален у всех участников!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" onclick="delChat()" data-bs-dismiss="modal">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*Модульное окно изменения чата*@
<div class="modal fade" id="editChatModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Изменить чат</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" method="dialog">
                <div class="modal-body">
                    <label class="form-label">Название чата</label>
                    <input type="text" id="nameChatTxt" class="form-control"/>
                    <label class="form-label">Участники чата</label>
                        <ul class="list-group mb-1" id="partChatList" style="overflow-y: auto;max-height: 40vh;">

                        </ul>
                    <button data-bs-toggle="modal" data-bs-target="#newPartChatModal" onclick="addNewPart()" type="button" class="btn btn-secondary">Добавить участников</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" onclick="editNameChat()" data-bs-dismiss="modal">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*Модульное окно добавления участников*@
<div class="modal fade" id="newPartChatModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Добавить участников</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" method="dialog">
                <div class="modal-body">
                    <ul class="list-group mb-1" id="newPartChatList" style="overflow-y: auto;max-height: 40vh;">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>