@page "{idCurChat?}"
@using Microsoft.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Messendger.Pages.ChatMenuModel
@{
    ViewBag.Title = "Чаты";
}
<link href="~/styles/ChatStyle.css" rel="stylesheet" asp-append-version="true" />
<main class="container-lg">
    <div class="row">
        <div class="col-1 bg-danger min-vh-100">
            <div class="row pt-5 justify-items-center">
                @if (Model.info.IdNavigation.IdPhotoNavigation == null)
                {
                    <img src="~/res/image/User.png" asp-append-version="true" class="mx-auto" style="width: 100%;">
                }
                else
                {
                    <img src="/userImages/@Model.info.IdNavigation.IdPhotoNavigation.Name" asp-append-version="true" class="mx-auto" style="width: 100%;">
                }
            </div>
            <div class="row">
                <button data-bs-toggle="modal" data-bs-target="#editModal" class="text-center btn text-light text-wrap text-break" id="userName">
                    @Model.info.Surname @Model.info.Name @Model.info.Lastname
                    </button>
            </div>
            <div class="row mt-2">
                <button style="width: 100px;" onclick="exitClick()" class="btn me-5 ms-1 btn-dark">Выйти</button>
            </div>
            <div class="row">
                <button type="button" class="btn mt-2 text-light" data-bs-toggle="modal" data-bs-target="#modalSearch">
                    <img src="~/res/image/search.svg" style="width: 70%;" class="mx-auto text-wrap text-break">
                    Поиск
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn mt-2 text-light" data-bs-toggle="modal" data-bs-target="#friendsModal">
                    <img src="~/res/image/friends.svg" style="width: 70%;" class="mx-auto text-wrap text-break">
                    Друзья
                </button>
            </div>
        </div>
        <div class="col-3 bg-secondary">
            <div class="list-group mt-3 listChat" id="listChat">
            @{
                //Вывод чатов
                foreach (var chat in Model.Chats)
                {
                    string name = string.Join(' ', chat.Participants);
                    if (chat.NameChat != null)
                        name = chat.NameChat;
                        @if (!chat.isGroup)
                        {
                            if (chat.Id == Convert.ToInt32(Model.IdCurChat))
                            {
                                <button type="button" data-id-chat="@chat.Id" class="list-group-item list-group-item-action d-flex align-items-center mb-2 active text-wrap text-break" onclick="changeChat(this)">
                                <img src="@chat.PhotoPath" class="me-3" width="75px">
                                @name
                                <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id-chat="@chat.Id" class="list-group-item list-group-item-action d-flex align-items-center mb-2 text-wrap text-break" onclick="changeChat(this)">
                                    <img src="@chat.PhotoPath" class="me-3" width="75px">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                        }
                        else
                        {
                            if (chat.Id == Convert.ToInt32(Model.IdCurChat))
                            {
                                <button type="button" data-id-chat="@chat.Id" class="list-group-item list-group-item-action mb-2 text-center active" onclick="changeChat(this)">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id-chat="@chat.Id" class="list-group-item list-group-item-action mb-2 text-center" onclick="changeChat(this)">
                                    @name
                                    <span class="badge bg-danger rounded-pill ms-auto kolmess"></span>
                                </button>
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="col-8 bg-light d-flex flex-column text-dark">
            <div class="flex-grow-1 m-3 border border-5 p-3 border-black messcont" style="border-color: black;">
                @{
                    foreach (var message in Model.Messages)
                    {
                        if (message.isYou)
                        {
                            <div class="mess self">
                                <div class="userMes">@message.Sender</div>
                                <div class="textMes">@message.Text</div>
                                <div class="timeMes">@message.TimeSend.Hour:@message.TimeSend.Minute @message.TimeSend.Date.ToShortDateString()</div>
                            </div>
                        }
                        else
                        {
                            <div class="mess">
                                <div class="userMes">@message.Sender</div>
                                <div class="textMes">@message.Text</div>
                                <div class="timeMes">@message.TimeSend.Hour:@message.TimeSend.Minute @message.TimeSend.Date.ToShortDateString()</div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="p-3">
                <form class="mb-3 d-flex" method="dialog" onsubmit="sendMess(event)" autocomplete="off">
                        @if (Model.IdCurChat == 0)
                        {
                            <input type="text" id="messTxt" class="form-control me-2 border border-2 border-black" disabled>
                            <button class="btn bg-black text-light" type="submit" id="sendBtn" disabled>Отправить</button>
                        }
                        else
                        {
                            <input type="text" id="messTxt" class="form-control me-2 border border-2 border-black" >
                            <button class="btn bg-black text-light" type="submit" id="sendBtn" >Отправить</button>
                        }
                </form>
            </div>
        </div>
    </div>
</main>
<script asp-append-version="true" src="~/scripts/signalr.min.js"></script>
<script asp-append-version="true" src="~/scripts/ChatScript.js"></script>


@*Модальное окно поиска людей *@
<div class="modal fade" id="modalSearch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Поиск сотрудников</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form class="text-dark">
                    <label for="searchTxt" class="form-label">Введите имя</label>
                    <input type="text" onkeyup="searchPeople(this)" class="form-control mb-1" id="searchTxt"/>
                    <ul class="list-group" id="searchList" style="overflow-y: auto;max-height: 40vh;">

                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@*Модальное окно изменения данных *@
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Ваш профиль</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="text-dark" enctype="multipart/form-data" method="post" action="/editprofile">
            <div class="modal-body">
                    <div class="row">
                    <label class="form-label col-auto text-center">Фото профиля</label>
                        @if (Model.info.IdNavigation.IdPhotoNavigation != null)
                        {
                            <img id="previewImg" style="width:100px;" class="mb-1" src="/userImages/@Model.info.IdNavigation.IdPhotoNavigation.Name" />
                        }
                        else
                        {
                            <img id="previewImg" style="width:100px;" class="mb-1" src="/res/image/User.png" />
                        }
                        <input onchange="changeimg(this)" class="form-control ms-1 me-1" type="file" id="formFile" name="formFile" accept="image/*">
                    </div>
                    <label for="surnameTxt" class="form-label">Фамилия</label>
                    <input type="text" class="form-control mb-1" name="surname" value="@Model.info.Surname" id="surnameTxt" />
                    <label for="nameTxt" class="form-label">Имя</label>
                    <input type="text" class="form-control mb-1" name="name" id="nameTxt" value="@Model.info.Name" />
                    <label for="lastnameTxt" class="form-label">Отчество</label>
                    <input type="text" class="form-control mb-1" name="lastname" id="lastnameTxt" value="@Model.info.Lastname" />
  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Изменить</button>
            </div>
            </form>
        </div>
    </div>
</div>
@*Модальное окно друзей *@
<div class="modal fade" id="friendsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Друзья</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
                <div class="modal-body">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Ваши друзья</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Входящие заявки</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Исходящие заявки</label>
                </div>
                <ul class="list-group" id="searchList" style="overflow-y: auto;max-height: 40vh;">

                </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
        </div>
    </div>
</div>